<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Form Validation</title>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>

	<body>

		<div class="container">

				<div class="form_main" id="form_main">
					<progress class="progress_bar" max="10" :value="progressValue"></progress>
					<div v-if="state === 1" class="first_form">
						<div class="bordered">
							<h4>Wybierz trzy jezyki programowania, ktorych zamierzasz sie uczyc</h4>
						</div>
							<ul>
								<li v-for="lang in langs" class="list_lang">
									<div class="valid_lang_container">
										<div class="selected" :class="[langPosition(lang) >= 0 ? (langPosition(lang) < 3 ? 'valid' : 'invalid') : 'unfiled']"></div>
									</div>
									<div class="lang_label_container">
										<div class="lang_label"> {{ lang }} </div>
									</div>
									<div class="input_lang_container">
										<input type="checkbox" @click="selectLang(lang)" v-bind:checked="langPosition(lang) >= 0">
									</div>
								</li>
							</ul>
					</div>

					<div v-if="state === 2" class="second_form">
						<div class="bordered">
							<h4>Wypelnij dane osobowe(wszystkie pola sa obowiazkowe)</h4>
						</div>
						<ul>
							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[name ? (validText(name) ? 'valid' : 'invalid') : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> Imię </div>
								</div>
								<div class="input_personal_container">
									<input type="input" v-model="name">
								</div>
							</li>

							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[surname ? (validText(surname) ? 'valid' : 'invalid') : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> Nazwisko </div>
								</div>
								<div class="input_personal_container">
									<input type="input" v-model="surname">
								</div>
							</li>

							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[city ? (validText(city) ? 'valid' : 'invalid') : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> Miasto </div>
								</div>
								<div class="input_personal_container">
									<input type="input" v-model="city">
								</div>
							</li>

							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[code ? (validPostCode() ? 'valid' : 'invalid') : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> Kod Pocztowy </div>
								</div>
								<div class="input_personal_container">
									<input type="input" v-model="code" v-on:keyup="postCodeValue(code)">
								</div>
							</li>

							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[province ? 'valid' : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> Wojewodztwo </div>
								</div>
								<div class="input_personal_container">
									<select v-model="province">
										<option>Dolnośląskie</option>
										<option>Kujawsko-Pomorskie</option>
										<option>Lubelskie</option>
										<option>Lubuskie</option>
										<option>Łódzkie</option>
										<option>Małopolskie</option>
										<option>Mazowieckie</option>
										<option>Opolskie</option>
										<option>Podkarpackie</option>
										<option>Podlaskie</option>
										<option>Pomorskie</option>
										<option>Śląskie</option>
										<option>Świętorzyskie</option>
										<option>Warmińsko-Mazurskie</option>
										<option>Wielkopolskie</option>
										<option>Zachodniopomorskie</option>
									</select>
								</div>
						</ul>
					</div>

					<div v-if="state === 3" class="third_form">
						<div class="bordered">
							<h4>Wypelnij dane osobowe(wszystkie pola sa obowiazkowe)</h4>
						</div>
						<ul>
							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[email ? (validEmail() ? 'valid' : 'invalid') : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> E-mail </div>
								</div>
								<div class="input_personal_container">
									<input type="input" v-model="email">
								</div>
							</li>
							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[ipAddr ? (validIpAddr() ? 'valid' : 'invalid') : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> IP </div>
								</div>
								<div class="input_personal_container">
									<input type="input" v-model="ipAddr">
								</div>
							</li>
							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[url ? (validUrl() ? 'valid' : 'invalid') : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> URL </div>
								</div>
								<div class="input_personal_container">
									<input type="input" v-model="url">
								</div>
							</li>

							<li class="list_lang">
								<div class="valid_personal_container">
									<div class="selected" :class="[password ? (validPassword() ? 'valid' : 'invalid') : 'unfiled']"></div>
								</div>
								<div class="label_personal_container">
									<div class="lang_label"> Hasło </div>
								</div>
								<div class="input_personal_container">
									<input type="password" v-model="password">
									<meter :value="scorePassword" min="0" max="100" low="30" high="60" optimum="90">
								</div>
							</li>
						</ul>
					</div>
					<div v-if="state === 3" class="bordered nav">
							<button @click="submit"> OK </button>
					</div>
					<div class="bordered nav">
							<button @click="handlePrev" v-bind:disabled="state === 1"> wstecz </button>
							<button @click="handleNext" v-bind:disabled="state === 3"> nastepna </button>
					</div>
				</div>
		</div>
		<script src="vue.js"></script>
		<script src="app.js"></script>
	</body>
</html>
